*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

main {
    background-color: white;
    width: min(85%, 35rem);
    margin-block: 18rem 6.5rem;
    border-radius: 4px;
}

section:first-of-type {
    padding: 1.6rem 1.3rem;
}

h3 {
    color: hsl(179, 62%, 43%);
    font-family: 'Karla', sans-serif;
    margin-block-end: 1rem;
}

h3 + p {
    font-family: 'Karla', sans-serif;
    color: hsl(71, 73%, 54%);
    margin-block-end: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
}

h3 + p + p {
    color: hsl(218, 22%, 67%);
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
}

section:nth-of-type(2) {
    background-color: hsl(179, 60%, 40%);
    padding: 1.3rem 1.3rem;
}

section:nth-of-type(2) h4 {
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 0.9rem;
    margin-block-end: 0.5rem;
}

section:nth-of-type(2) h4 + p span {
    color: white;
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    margin-inline-end: 0.5rem;
}

section:nth-of-type(2) h4 + p {
    font-size: 0.9rem;
    font-family: 'Karla', sans-serif;
    color: hsl(0, 0%, 86%);
    font-weight: 400;
    display: flex;
    align-items: center;
}

section:nth-of-type(2) h4 + p + p {
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    margin-block-end: 1rem;
}

button {
    width: 100%;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: none;
    height: 2.5rem;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
}
button:active {
    background-color: hsl(70, 100%, 12%);
}

section:last-of-type {
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding: 1.3rem;
    font-family: 'Karla', sans-serif;
    border-radius: 0 0 4px 4px;
}

section:last-of-type h4 {
    margin-block-end: 1rem;
}

section:last-of-type p {
    font-size: 0.8rem;
    color: hsl(0, 0%, 86%);
}

.attribution {
    margin-block-start: auto;
    border-block-start: 1px solid black;
    width: 100%;
    text-align: center;
    line-height: 2;
    background-color: hsl(218, 22%, 67%);
    padding-block: 1rem;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}
.attribution a {
    color: hsl(70, 100%, 12%);
}

@media (min-width: 576px) {
    main {
        display: grid;
        grid-template-areas:
        'first first'
        'sec third';
        grid-template-columns: 1fr 1fr;
        height: 380px;
    }

    section:first-of-type {
        grid-area: first;
        padding-inline-end: 4.7rem;
    }

    section:nth-of-type(2) {
        grid-area: sec;
        border-bottom-left-radius: 4px;
        padding: 2rem 2rem 0;
    }

    section:last-of-type {
        grid-area: third;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4px;
        padding: 2rem;
    }

    section:nth-of-type(2) h4 + p + p {
        margin-block-end: 1.5rem;
    }
    
    button {
        margin-block-start: 1rem;
    }
}